app/step-functions-templates/populate_draft_data_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Save Vars",
  "States": {
    "Save Vars": {
      "Type": "Pass",
      "Next": "Validate Draft Data",
      "Assign": {
        "detail": "{% $states.input %}",
        "librariesList": "{% $states.input.libraries %}",
        "payload": "{% (\n  $states.input.payload ? \n  $states.input.payload : {\n    \"version\": \"${__default_payload_version__}\"\n  }\n) %}",
        "data": "{% $states.input.payload.data ? $states.input.payload.data : {} %}",
        "engineParameters": "{% $states.input.payload.data.engineParameters ? $states.input.payload.data.engineParameters : {} %}",
        "tags": "{% $states.input.payload.data.tags ? $states.input.payload.data.tags : {} %}",
        "inputs": "{% $states.input.payload.data.inputs ? $states.input.payload.data.inputs : {} %}",
        "rgidList": "{% $states.input.libraries ? ( [ \n    [ $states.input.libraries.(readsets).(rgid) ] ~> \n    $filter(function($v){$v != null}) \n] ) %}"
      }
    },
    "Validate Draft Data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__validate_draft_payload_lambda_function_arn__}",
        "Payload": {
          "data": "{% $data %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Is Valid Data",
      "Output": {
        "isValid": "{% $states.result.Payload.isValid %}"
      }
    },
    "Is Valid Data": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "No need to rerun",
          "Condition": "{% $states.input.isValid %}",
          "Comment": "No need to populate"
        }
      ],
      "Default": "Get Engine parameters"
    },
    "Do we have matching libraries": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Get tags",
          "Condition": "{% /* Compare the draft tags to the libraries */\n/* Get the draft tags */\n(\n    [ \n        $tags.(libraryId)\n    ] ~> $sort\n)\n=\n/* Get the draft detail libraries */ \n(\n    [\n        $librariesList.(libraryId)\n    ] ~> $sort\n) %}"
        }
      ],
      "Default": "Get Primitive Tags from libraries"
    },
    "No need to rerun": {
      "Type": "Pass",
      "End": true
    },
    "Get Engine parameters": {
      "Type": "Parallel",
      "Next": "Do we have matching libraries",
      "Branches": [
        {
          "StartAt": "Has Project ID",
          "States": {
            "Has Project ID": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided project id",
                  "Condition": "{% $engineParameters.projectId ? true : false %}",
                  "Comment": "Project ID Provided"
                }
              ],
              "Default": "Get Default Project Id"
            },
            "Use provided project id": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "projectId": "{% $engineParameters.projectId %}"
              }
            },
            "Get Default Project Id": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_project_id_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "projectId": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Pipeline ID",
          "States": {
            "Has Pipeline ID": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided pipeline id",
                  "Condition": "{% $engineParameters.pipelineId ? true : false %}",
                  "Comment": "Pipeline ID Provided"
                }
              ],
              "Default": "Get default pipeline id"
            },
            "Use provided pipeline id": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "pipelineId": "{% $engineParameters.pipelineId %}"
              }
            },
            "Get default pipeline id": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__workflow_id_to_pipeline_id_ssm_parameter_path_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "pipelineId": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Output URI",
          "States": {
            "Has Output URI": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided output uri",
                  "Condition": "{% $engineParameters.outputUri ? true : false %}",
                  "Comment": "Output URI Provided"
                }
              ],
              "Default": "Get default output uri prefix"
            },
            "Use provided output uri": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "outputUri": "{% $engineParameters.outputUri %}"
              }
            },
            "Get default output uri prefix": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_output_uri_prefix_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "outputUri": "{% $states.result.Parameter.Value & $detail.portalRunId & '/' %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Logs URI",
          "States": {
            "Has Logs URI": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided logs uri",
                  "Condition": "{% $engineParameters.logsUri ? true : false %}",
                  "Comment": "Logs URI Provided"
                }
              ],
              "Default": "Get default logs uri prefix"
            },
            "Use provided logs uri": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "logsUri": "{% $engineParameters.logsUri %}"
              }
            },
            "Get default logs uri prefix": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_logs_uri_prefix_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "logsUri": "{% $states.result.Parameter.Value & $detail.portalRunId & '/' %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Cache URI",
          "States": {
            "Has Cache URI": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided cache uri",
                  "Condition": "{% $engineParameters.cacheUri ? true : false %}",
                  "Comment": "Cache URI Provided"
                }
              ],
              "Default": "Get default cache uri prefix"
            },
            "Use provided cache uri": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "cacheUri": "{% $engineParameters.cacheUri %}"
              }
            },
            "Get default cache uri prefix": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_cache_uri_prefix_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "cacheUri": "{% $states.result.Parameter.Value & $detail.portalRunId & '/' %}"
              }
            }
          }
        }
      ],
      "Assign": {
        "engineParameters": "{% /* https://try.jsonata.org/6nUH8BUBr */\n$merge($states.result) %}"
      }
    },
    "Get Primitive Tags from libraries": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__get_libraries_lambda_function_arn__}",
        "Payload": {
          "libraries": "{% $librariesList %}",
          "rgidList": "{% $rgidList %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "tags": "{% $merge(\n  [\n    $states.result.Payload,\n    $tags\n  ]\n) %}"
      },
      "Next": "Get tags"
    },
    "Get tags": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Has fastqRgidList",
          "States": {
            "Has fastqRgidList": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set fastq rgid list",
                  "Condition": "{% $tags.fastqRgidList ? true : false %}"
                }
              ],
              "Default": "Get fastq list rgids from libraries"
            },
            "Set fastq rgid list": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "fastqRgidList": "{% $tags.fastqRgidList %}"
              }
            },
            "Get fastq list rgids from libraries": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_fastq_list_rgids_from_library_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $tags.libraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "fastqRgidList": "{% $states.result.Payload.fastqRgidList %}"
              }
            }
          }
        },
        {
          "StartAt": "Has metadata tags",
          "States": {
            "Has metadata tags": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set metadata tags",
                  "Condition": "{% ( $tags.subjectId ? true : false ) and ( $tags.individualId ? true : false ) %}",
                  "Comment": "Metadata tags exist"
                }
              ],
              "Default": "Get subject and individual id tags"
            },
            "Set metadata tags": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "subjectId": "{% $tags.subjectId %}",
                "individualId": "{% $tags.individualId %}"
              }
            },
            "Get subject and individual id tags": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_metadata_tags_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $tags.libraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "subjectId": "{% $states.result.Payload.libraryObj.subject.subjectId %}",
                "individualId": "{% $count($states.result.Payload.libraryObj.subject.individualSet) > 0 ? $states.result.Payload.libraryObj.subject.individualSet[0].individualId : $states.result.Payload.libraryObj.subject.subjectId %}"
              }
            }
          }
        }
      ],
      "Next": "Tags Or Engine Parameters Have Changed",
      "Assign": {
        "tags": "{% /* List to merge together */\n[\n    /* Start with the draft tags */\n    $tags,\n    /* Merge the results list together */\n    $merge($states.result)\n] \n/* Then merge these initial tags with states.result  */\n~> $merge\n/* Remove any keys with values */\n~> $sift(function($v, $k){$v != null}) %}"
      }
    },
    "Tags Or Engine Parameters Have Changed": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Generate WRU event",
          "Condition": "{% ( ( $data.tags ? $data.tags : {} ) = $tags ~> $not ) or\n( ( $data.engineParameters ? $data.engineParameters : {} ) = $engineParameters ~> $not ) %}",
          "Comment": "Tags or engine parameters have changed"
        }
      ],
      "Default": "Get libraries with readsets"
    },
    "Get libraries with readsets": {
      "Type": "Parallel",
      "Next": "Get Inputs",
      "Branches": [
        {
          "StartAt": "Library has readsets",
          "States": {
            "Library has readsets": {
              "Type": "Choice",
              "Choices": [
                {
                  "Comment": "Library has readsets",
                  "Next": "Keep library object as is",
                  "Condition": "{% /* Get readsets for tag */\n( \n  $librariesList ~>\n  $single(function($libraryIter){\n    $libraryIter.libraryId = $tags.libraryId\n  }) ~>\n  $lookup(\"readsets\")\n) ? true : false %}"
                }
              ],
              "Default": "For each rgid (readsets)"
            },
            "Keep library object as is": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "library": "{% $librariesList ~>\n$single(function($libraryIter){\n  $libraryIter.libraryId = $tags.libraryId\n}) %}"
              }
            },
            "For each rgid (readsets)": {
              "Type": "Map",
              "Items": "{% $tags.fastqRgidList ? $tags.fastqRgidList : [] %}",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get readset from rgid id",
                "States": {
                  "Get readset from rgid id": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Arguments": {
                      "FunctionName": "${__get_fastq_id_list_from_fastq_rgid_list_lambda_function_arn__}",
                      "Payload": {
                        "fastqRgidList": "{% [$states.input] %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true,
                    "Output": {
                      "orcabusId": "{% $states.result.Payload.fastqIdList[0] %}",
                      "rgid": "{% $states.input %}"
                    }
                  }
                }
              },
              "End": true,
              "Output": {
                "library": "{% [\n  /* Draft libraries list */\n  $librariesList ~>\n  $single(function($libraryIter){\n    $libraryIter.libraryId = $tags.libraryId\n  }),\n  {\n    \"readsets\": $states.result\n  }\n] ~>\n$merge %}"
              }
            }
          }
        },
        {
          "StartAt": "Libraries with readsets placeholder",
          "States": {
            "Libraries with readsets placeholder": {
              "Type": "Pass",
              "Output": {},
              "End": true
            }
          }
        }
      ],
      "Assign": {
        "librariesList": "{% [ $states.result.(library) ] %}"
      }
    },
    "Get Inputs": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Get fastq ids from rgid list",
          "States": {
            "Get fastq ids from rgid list": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "fastqIdList": "{% $states.result.Payload.fastqIdList %}"
              },
              "Arguments": {
                "FunctionName": "${__get_fastq_id_list_from_fastq_rgid_list_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.fastqRgidList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Wait for fastqs"
            },
            "Wait for fastqs": {
              "Type": "Task",
              "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
              "Arguments": {
                "Entries": [
                  {
                    "Detail": {
                      "taskToken": "{% $states.context.Task.Token %}",
                      "payload": {
                        "fastqIdList": "{% $states.input.fastqIdList %}",
                        "requirements": {
                          "hasQc": true,
                          "hasFingerprint": true,
                          "hasActiveReadSet": true
                        },
                        "forceUnarchiving": true
                      }
                    },
                    "DetailType": "${__fastq_sync_detail_type__}",
                    "EventBusName": "OrcaBusMain",
                    "Source": "orcabus.dragenwgtsdna"
                  }
                ]
              },
              "Output": {
                "fastqIdList": "{% $states.input.fastqIdList %}"
              },
              "Next": "Get prefix from project id",
              "HeartbeatSeconds": 3600,
              "Retry": [
                {
                  "ErrorEquals": ["States.HeartbeatTimeout"],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3
                }
              ]
            },
            "Get prefix from project id": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "s3Uri": "{% $states.result.Payload.s3Uri %}"
              },
              "Arguments": {
                "FunctionName": "${__get_project_base_uri_from_project_id_lambda_function_arn__}",
                "Payload": {
                  "projectId": "{% $engineParameters.projectId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Get fastq list rows from fastq list"
            },
            "Get fastq list rows from fastq list": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_fastq_list_rows_from_fastq_rgid_list_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.fastqRgidList %}",
                  "s3UriPrefix": "{% $states.input.s3Uri %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "fastqListRows": "{% $states.result.Payload.fastqListRows %}"
              }
            }
          }
        },
        {
          "StartAt": "Pass",
          "States": {
            "Pass": {
              "Type": "Pass",
              "Output": {},
              "End": true
            }
          }
        }
      ],
      "Next": "Add qc tags",
      "Assign": {
        "inputs": "{% /* https://try.jsonata.org/-D6C7WZKF */\n/* List to merge together */\n[\n    /* Start with the draft inputs */\n    $inputs,\n    /* Merge the results list together */\n    $merge($states.result),\n    /* Add in the sampleName from the library id variable */\n    {\n        \"sampleName\": $tags.libraryId\n    }\n]\n/* Then merge these initial inputs with states.result */\n~> $merge\n/* Remove any keys with values */\n~> $sift(function($v, $k){$v != null}) %}"
      }
    },
    "Add qc tags": {
      "Type": "Parallel",
      "Next": "Generate WRU event",
      "Branches": [
        {
          "StartAt": "Get coverage and dup-frac estimates",
          "States": {
            "Get coverage and dup-frac estimates": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_qc_summary_stats_from_rgid_list_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.fastqRgidList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "preLaunchCoverageEst": "{% $states.result.Payload.coverageSum %}",
                "preLaunchDupFracEst": "{% $states.result.Payload.dupFracAvg %}",
                "preLaunchInsertSizeEst": "{% $states.result.Payload.insertSizeAvg %}"
              }
            }
          }
        },
        {
          "StartAt": "qc placeholder",
          "States": {
            "qc placeholder": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        }
      ],
      "Assign": {
        "tags": "{% /* https://try.jsonata.org/05K2l3beH */\n/* List to merge together */\n[\n    /* Start with the tags */\n    $tags,\n    /* Merge the results list together */\n    $merge($states.result)\n] \n/* Then merge these initial tags with states.result  */\n~> $merge\n/* Remove any keys with values */\n~> $sift(function($v, $k){$v != null}) %}"
      }
    },
    "Generate WRU event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__generate_wru_event_object_with_merged_data_lambda_function_arn__}",
        "Payload": {
          "portalRunId": "{% $detail.portalRunId %}",
          "libraries": "{% $librariesList %}",
          "payload": {
            "version": "{% $payload.version ? $payload.version : '${__default_payload_version__}' %}",
            "data": {
              "inputs": "{% $inputs ? $inputs : null %}",
              "tags": "{% $tags %}",
              "engineParameters": "{% $engineParameters %}"
            }
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Compare Payload",
      "Assign": {
        "workflowRunUpdate": "{% $states.result.Payload.workflowRunUpdate %}"
      }
    },
    "Compare Payload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__compare_payload_lambda_function_arn__}",
        "Payload": {
          "oldPayload": "{% $payload ~> \n| $ | {}, [\"orcabusId\", \"refId\"] | %}",
          "newPayload": "{% $workflowRunUpdate.payload %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Has Payload changed"
    },
    "Has Payload changed": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Push DRAFT Event",
          "Condition": "{% $states.input.hasChanged %}",
          "Comment": "Payload has changed"
        }
      ],
      "Default": "No need to rerun"
    },
    "Push DRAFT Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $merge([\n  $detail,\n  {\n    \"status\": \"${__draft_event_status__}\",\n    \"timestamp\": $states.context.State.EnteredTime,\n    \"payload\": (\n      $merge([\n        $payload,\n        {\n          \"refId\": null,\n          \"data\": {\n            \"inputs\": $inputs,\n            \"engineParameters\": $engineParameters,\n            \"tags\": $tags\n          }\n        }\n      ])\n      /* Remove null inputs like refId */\n      ~> $sift(function($v, $k){$v != null})\n    )\n  }\n])\n %}",
            "DetailType": "${__workflow_run_update_event_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
