app/step-functions-templates/validate_draft_data_and_put_ready_event_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Save Event Vars",
  "States": {
    "Save Event Vars": {
      "Type": "Pass",
      "Next": "Validate Draft Complete Event",
      "Assign": {
        "detail": "{% $states.input %}",
        "workflowRunId": "{% $states.input.orcabusId %}",
        "payload": "{% $states.input.payload ? $states.input.payload : {} %}",
        "payloadData": "{% $states.input.payload.data ? $states.input.payload.data : {} %}"
      }
    },
    "Validate Draft Complete Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": {
        "isValid": "{% $states.result.Payload.isValid %}"
      },
      "Arguments": {
        "FunctionName": "${__validate_draft_payload_lambda_function_arn__}",
        "Payload": {
          "data": "{% $payloadData %}",
          "workflowRunId": "{% $workflowRunId %}",
          "addCommentOnError": true
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Is Draft Event Complete?"
    },
    "Is Draft Event Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Run Post Schema Validation",
          "Condition": "{% $states.input.isValid %}",
          "Comment": "Draft is Valid"
        }
      ],
      "Default": "Pass"
    },
    "Run Post Schema Validation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__post_schema_validation_lambda_function_arn__}",
        "Payload": {
          "data": "{% $payloadData %}",
          "workflowRunId": "{% $workflowRunId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Workflow inputs are valid"
    },
    "Workflow inputs are valid": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Push READY Event",
          "Condition": "{% $states.input.isValid %}",
          "Comment": "Inputs are valid"
        }
      ],
      "Default": "Pass"
    },
    "Push READY Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $merge([\n  $detail,\n  {\n    \"timestamp\": $now(),\n    \"status\": \"${__ready_event_status__}\"\n  }\n]) ~>\n| $.payload | {}, [\"orcabusId\", \"refId\"] | %}",
            "DetailType": "${__workflow_run_update_event_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
